@import '../variables.scss';


.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: $height_header;
    padding: 0 $padding_page_block;
    z-index: 2;
    background-color: #FFF;
    box-shadow: 5px 0 5px #000;

    &__navbar {
        width: 60%;
        max-width: 1024px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.navbar {
    &__nav-links {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__logo {
        width: 160px;
    }
}

.nav-links {
    &__link-item {
        height: 21px;
        &:hover {
            .link-item__decorate-line {
                width: 100%;
            }
        }
    }
}

.link-item {
    &__decorate-line {
        height: 2px;
        width: 0;
        padding-top: 2px;
        background-color: $color-primary;
        transition: width .2s ease-in;
    }

    &__contacts {
        position: relative;
    }
}

.contacts {
    &__title {
        cursor: pointer;
    }
    &-popup {
        position: absolute;
        top: 100%;
        width: 238px;
        height: 0;
        padding: 0 15px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        box-shadow: 0px 0px 7px #000000;
        background-color: #FFF;

        transition: height .3s ease-out;

        &_visible {
            height: 100px;
        }

        &__item {
            border-bottom: 1px solid #000;
        }
    }
}
