@import '../variables.scss';


.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: $height_header;
    padding: 0 $padding_page_block;
    z-index: 2;
    background-color: #FFF;
    box-shadow: 5px 0 5px #000;

    &__navbar {
        width: 60%;
        max-width: 1024px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        @media(max-width: 1024px) {
            width: 80%;
        }
        @media(max-width: 628px) {
            width: 95%;
        }
    }
}

.navbar {
    &__nav-links {
        display: flex;
        align-items: center;
        gap: 10px;
        @media(max-width: 1124px) {
            display: none;
        }

        &_mobile {
            position: absolute;
            transform: translate(0, 100%);
            overflow: hidden;
            transition: height .3s linear;
            height: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #FFF;
            font-size: 18px;
            font-weight: 600;
            &_visible {
                height: 50vh;
                overflow: auto;
                @media(max-width: 900px) {
                    height: 100vh;
                }
            }
            @media(min-width: 1125px) {
                display: none;
            }
        }
    }
    &__burger {
        position: relative;
        display: flex;
        align-items: center;
        width: 30px;
        height: 24px;
        cursor: pointer;
        @media(min-width: 1125px) {
            display: none;
        }
    }
    &__logo {
        width: 160px;
    }
}

.burger {
    &__elem {
        width: 100%;
        height: 2px;
        background-color: #000;
        transition: all .3s linear;
        &-top, &-bottom {
            position: absolute;
            left: 0;
        }
        &-top {
            top: 0;
        }
        &-bottom {
            bottom: 0;
        }
    }
}

.burger-open .burger__elem-top {
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
}
.burger-open .burger__elem-bottom {
    bottom: 50%;
    transform: translate(0, 50%) rotate(-45deg);
}
.burger-open .burger__elem-mid {
    transform: translate(-100%, 0);
    opacity: 0;
}

.nav-links {
    &__link-item {
        height: 21px;
        &:hover {
            .link-item__decorate-line {
                width: 100%;
            }
        }
    }

    &_mobile-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        width: 60%;
        margin: auto;
        @media(max-width: 1024px) {
            width: 80%;
        }
        @media(max-width: 628px) {
            width: 95%;
        }
    }
}

.nav-links__link-item.nav-links__link-item_active .link-item__decorate-line {
    width: 100%;
}

.link-item {
    &__decorate-line {
        height: 2px;
        width: 0;
        padding-top: 2px;
        background-color: $color-primary;
        transition: width .2s ease-in;
        @media(max-width: 1124px) {
            display: none;
        }
    }

    &__contacts {
        position: relative;
    }
}

.contacts {
    &__title {
        cursor: pointer;
    }
    &-popup {
        position: absolute;
        top: 100%;
        width: 280px;
        height: 0;
        padding: 0 15px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        box-shadow: 0px 0px 7px #000000;
        background-color: #FFF;

        transition: height .3s ease-out;

        &_visible {
            height: 100px;
        }

        &__item {
            border-bottom: 1px solid #000;
            &:last-child {
                margin-bottom: 20px;
            }
            @media(max-width: 1124px) {
                margin-bottom: 20px;
                border: none;
            }
        }
    }
}

.popup {
    &__copy {
        position: relative;
        width: 20px;
        height: 20px;
        cursor: pointer;

        &:hover {
            .copy__text {
                display: block;
                position: absolute;
                top: 100%;
                right: 0;
                padding: 0 3px;
                border-radius: 6px;
                border: 2px solid #ffffff;
                background-color: #000000e1;
                color: #ffffff;
                font-weight: 100;
            }
        }
    }
}
.copy {
    &__text {
        display: none;
    }
}
