.input-wrapp {
    
}

.custom-input {
    width: 100%;
    padding: 5px 3px;
    border: none;
    border-bottom: 2px solid #ffffff;
    background-color: transparent;
    outline: none;
    font-size: 18px;
    color: #ffffff;
    
    &::placeholder {
        transition: font-size .2s ease-out;
        font-size: 16px;
        color: #ffffff;
        font-family: 'SanFrancisco-UltraLight', sans-serif;
    }
}

.input-focused {
    &::placeholder {
        font-size: 13px;
    }
}

.invalid_input {
    border-bottom: 2px solid #a40000;
}
