.swiper {
    height: 100%;
}

.swiper-wrapper .swiper-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.swiper-slide {
    width: auto !important;
    height: 90% !important;
    transition: transform .2s linear;
    transform: scale(0.9) !important;
    img {
        width: 100%;
        height: 75%;
        background-position: center;
        background-size: cover;
        object-fit: cover;
    }
    &-active {
        transform: scale(1.1) !important;
    }
    &__title {
        color: #000;
        letter-spacing: 1px;
        font-size: 30px;
    }
}

.slide_img {
    
}
