<form class="call-form" name="@@name">
    <div class="call-form__blur-bg"></div>
    
    
    @@if(isAddCloseBtn) {
        <span class="call-form__title">Пожалуйста, укажите Ваши данные</span>
        <div class="close-form">
            <div class="close-form__btn"></div>
        </div>
    }
    @@if(!isAddCloseBtn) {
        <span class="call-form__title">Закажите звонок у наших специалистов</span>
    }

    <div class="call-form__form-inputs">
        <div class="form-inputs__item">
            @@include('./input.html', {
                "id": "fio",
                "placeholder": "Ваше ФИО",
                "type": "input"
            })
        </div>
    
        <div class="form-inputs__item">
            @@include('./input.html', {
                "id": "organization",
                "placeholder": "Ваша организация",
                "type": "input"
            })
        </div>
    
        <div class="form-inputs__item">
            @@include('./input.html', {
                "id": "phone",
                "placeholder": "Номер телефона",
                "type": "phone"
            })
        </div>

        <div class="form-inputs__item">
            @@include('./textarea.html', {
                "name": "form-question",
            })
        </div>
    </div>

    <div class="call-form__btns">
        <div>
            @@include('./mpsBtn.html', {
                "btnText": "Отправить",
                "btnClass": "call-form__send-btn"
            })
        </div>
    </div>

</form>