<header class="header">
    <div class="header__navbar">
        <div class="navbar__nav-links">
            <div class="nav-links__link-item" id="main_page">
                <a href="/">О компании</a>
                <div class="link-item__decorate-line"></div>
            </div>
            <div class="nav-links__link-item" id="implemented_projects">
                <a href="implemented_projects.html">Реализованные объекты</a>
                <div class="link-item__decorate-line"></div>
            </div>
            <div class="nav-links__link-item">
                <div class="link-item__contacts">
                    <div class="contacts__title">
                        Контакты
                    </div>

                    <div class="contacts-popup">
                        <div class="contacts-popup__item">
                            <div class="flex-between-center">
                                <span class="popup__item_text">
                                    <a href="tel:89850399415">Телефон: +7 (985) 039-94-15</a>
                                </span>
                                <div class="popup__copy" data-copy="89850399415">
                                    <?xml version="1.0" encoding="utf-8"?>
                                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21 8C21 6.34315 19.6569 5 18 5H10C8.34315 5 7 6.34315 7 8V20C7 21.6569 8.34315 23 10 23H18C19.6569 23 21 21.6569 21 20V8ZM19 8C19 7.44772 18.5523 7 18 7H10C9.44772 7 9 7.44772 9 8V20C9 20.5523 9.44772 21 10 21H18C18.5523 21 19 20.5523 19 20V8Z" fill="#0F0F0F"/>
                                        <path d="M6 3H16C16.5523 3 17 2.55228 17 2C17 1.44772 16.5523 1 16 1H6C4.34315 1 3 2.34315 3 4V18C3 18.5523 3.44772 19 4 19C4.55228 19 5 18.5523 5 18V4C5 3.44772 5.44772 3 6 3Z" fill="#0F0F0F"/>
                                    </svg>

                                    <div class="copy__text">Копировать</div>
                                </div>
                            </div>
                            <div class="popup__item_decorate-line"></div>
                        </div>
                        <div class="contacts-popup__item">
                            <div class="flex-between-center">
                                <span class="popup__item_text">
                                    <a href="mailto:info@mosps.ru">Почта: info@mosps.ru</a>
                                </span>
                                <div class="popup__copy" title="Копировать" data-copy="info@mosps.ru">
                                    <?xml version="1.0" encoding="utf-8"?>
                                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21 8C21 6.34315 19.6569 5 18 5H10C8.34315 5 7 6.34315 7 8V20C7 21.6569 8.34315 23 10 23H18C19.6569 23 21 21.6569 21 20V8ZM19 8C19 7.44772 18.5523 7 18 7H10C9.44772 7 9 7.44772 9 8V20C9 20.5523 9.44772 21 10 21H18C18.5523 21 19 20.5523 19 20V8Z" fill="#0F0F0F"/>
                                        <path d="M6 3H16C16.5523 3 17 2.55228 17 2C17 1.44772 16.5523 1 16 1H6C4.34315 1 3 2.34315 3 4V18C3 18.5523 3.44772 19 4 19C4.55228 19 5 18.5523 5 18V4C5 3.44772 5.44772 3 6 3Z" fill="#0F0F0F"/>
                                    </svg>

                                    <div class="copy__text">Копировать</div>
                                </div>
                            </div>
                            <div class="popup__item_decorate-line"></div>
                        </div>
                    </div>
                </div>
                <div class="link-item__decorate-line"></div>
            </div>
        </div>
        <div class="navbar__burger">
            <div class="burger__elem burger__elem-top"></div>
            <div class="burger__elem burger__elem-mid"></div>
            <div class="burger__elem burger__elem-bottom"></div>
        </div>
        <div>
            <a href="/">
                <img src="./img/Logo.jpg" alt="МПС" class="navbar__logo">
            </a>
        </div>
        <div class="navbar__nav-links_mobile">
            <div class="nav-links_mobile-wrapper">
                <div class="nav-links__link-item">
                    <a href="/">О компании</a>
                    <div class="link-item__decorate-line"></div>
                </div>
                <div class="nav-links__link-item">
                    <a href="services.html">Услуги</a>
                    <div class="link-item__decorate-line"></div>
                </div>
                <div class="nav-links__link-item">
                    <a href="implemented_projects.html">Реализованные объекты</a>
                    <div class="link-item__decorate-line"></div>
                </div>

                <br/>

                <span class="link-item__contacts">
                    <div class="contacts-popup__item">
                        <div class="popup__item_text">
                            <a href="tel:+89850399415">Телефон: 7 (985) 039-94-15</a>
                        </div>
                        <div class="popup__item_decorate-line"></div>
                    </div>
                    <div class="contacts-popup__item">
                        <div class="popup__item_text">
                            <a href="mailto:info@mosps.ru">Почта: info@mosps.ru</a>
                        </div>
                        <div class="popup__item_decorate-line"></div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</header>