<header class="header">
    <div class="header__navbar">
        <div class="navbar__nav-links">
            <div class="nav-links__link-item">
                <a href="/">О компании</a>
                <div class="link-item__decorate-line"></div>
            </div>
            <div class="nav-links__link-item">
                <a href="services.html">Услуги</a>
                <div class="link-item__decorate-line"></div>
            </div>
            <div class="nav-links__link-item">
                <a href="implemented_projects.html">Реализованные объекты</a>
                <div class="link-item__decorate-line"></div>
            </div>
            <div class="nav-links__link-item">
                <a >Контакты</a>
                <div class="link-item__decorate-line"></div>
            </div>
        </div>
        <div>
            <a href="/">
                <img src="./img/Logo.jpg" alt="МПС" class="navbar__logo">
            </a>
        </div>
    </div>
</header>