<header class="header">
    <div class="header__navbar">
        <div class="navbar__nav-links">
            <div class="nav-links__link-item">
                <a href="/">О компании</a>
                <div class="link-item__decorate-line"></div>
            </div>
            <div class="nav-links__link-item">
                <a href="services.html">Услуги</a>
                <div class="link-item__decorate-line"></div>
            </div>
            <div class="nav-links__link-item">
                <a href="implemented_projects.html">Реализованные объекты</a>
                <div class="link-item__decorate-line"></div>
            </div>
            <div class="nav-links__link-item">
                <span class="link-item__contacts">
                    <span class="contacts__title">
                        Контакты
                    </span>

                    <div class="contacts-popup">
                        <div class="contacts-popup__item">
                            <span class="popup__item_text">
                                Телефон: <a href="tel:+89170000000">X-XXX-XXX-XX-XX</a>
                            </span>
                            <div class="popup__item_decorate-line"></div>
                        </div>
                        <div class="contacts-popup__item">
                            <span class="popup__item_text">
                                <a href="mailto:info@mosps.ru">Почта: info@mosps.ru</a>
                            </span>
                            <div class="popup__item_decorate-line"></div>
                        </div>
                    </div>
                </span>
                <div class="link-item__decorate-line"></div>
            </div>
        </div>
        <div>
            <a href="/">
                <img src="./img/Logo.jpg" alt="МПС" class="navbar__logo">
            </a>
        </div>
    </div>
</header>