$height_header: 60px;
$padding_page_block: 25px;
$color-primary: #d0bb00;

// $bg-color-layout: #ffffff;
// $bg-color-content: #e4e4e4;

// $color-main: #1d1d1d;
// $color-main-revert: #e4e4e4;

// $color-header-border: rgba(0, 0, 0, 0.4);
